.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

a:hover {
  color: #ffc845;
}

.container {
  width: 100%;
  min-height: 100vh;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeDiv {
  background: #00bce4;
}

h1 {
  font-family: 'Marck Script', cursive;
  font-size: 2.5em;
}

.homeDiv h1 {
  font-size: 5em;
}

.tagline {
  font-size: 1.2em;
  padding: 2px;
}

.darkText {
  color: black;
  font-size: 1em;
  padding: 2px;
}

.textWidth {
  width: 80%
}

.aboutDiv {
 background: #005670;
 width: 100%;
 min-height: 100vh;
 color: white;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 20px;
 padding-bottom: 20px;
}

.aboutAvatar {
  width: 250px;
}

.techDiv {
  background: #0085ad;
  padding-top: 20px;
  padding-bottom: 20px;
}

.techGallery {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.techItem {
  padding: 10px;
  color: #52565e;
}

.techItem a {
  color: #00bce4;
}

.techItem a:hover {
  color: #30c39e;
}

.fadeIn1 {
  -webkit-animation: fadeIn 0.4s both ease-in;
  animation: fadeIn 0.9s both ease-in;
  animation-delay: 0.4s;
}

.fadeIn2 {
  -webkit-animation: fadeIn 0.4s both ease-in;
  animation: fadeIn 0.9s both ease-in;
  animation-delay: 1s;
}

.fadeIn3 {
  -webkit-animation: fadeIn 0.4s both ease-in;
  animation: fadeIn 0.9s both ease-in;
  animation-delay: 1.4s;
}

.fadeIn4 {
  -webkit-animation: fadeIn 0.4s both ease-in;
  animation: fadeIn 0.9s both ease-in;
  animation-delay: 1.8s;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% { opacity: 0.5 }
  50% { opacity: 1.0 }
  100% { opacity: 0.5 }
}

@keyframes pulsate {
  0% { opacity: 0.5 }
  50% { opacity: 1.0 }
  100% { opacity: 0.5 }
}

@media (max-width:700px) {
  .aboutAvatar {
    width: 150px;
  }
}
