.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.spin {
   border: 20px inset #5588a3;
   display: table-cell;
   animation: spin 10s ease-in-out infinite alternate;
}

@keyframes spin {
   from {
       border-radius: 0%;
       border: 20px inset #5588a3;
       transform: rotate(0deg);
   }

   to {
       border: 20px inset #c19191;
       border-radius: 50%;
       transform: rotate(360deg);
   }
}
